<!--
<header {{bind-attr class='isMenuOpen:open'}}>
  <div class='app-bar'>
    <button class="menu" {{action 'toggleMenu'}}>
      <span>navigation bar</span>
      <span>navigation bar</span>
      <span>navigation bar</span>
    </button>
    <h1> {{#link-to 'index'}} Ember Rocks {{/link-to}} </h1>
  </div>
</header>

<nav {{bind-attr class='isMenuOpen:open'}} {{action 'close'}}>
  <h4> Navigation </h4>
  <ul>
  </ul>
</nav>
-->
<div class="et-row">
    <div class="et-c6">{{#link-to 'index'}} Home {{/link-to}}</div>
    <div class="et-c6">{{#link-to 'users'}} Users {{/link-to}}</div>
</div>
<main>
  {{outlet}}
</main>
